/* Stil für die Movie Cards */
.card-movie {
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    margin: auto;
}

.card-style {
    /*padding: 20px;*/
    margin: 20px
}

.card-footer {
    text-align: center;
}

.btn-bearbeiten-löschen {
    margin-top: 10px;
}

.card-footer .btn-bearbeiten-löschen {
    display: inline-block;
    margin: 0 10px;
}

.navbar-content {
    margin-top: 2rem;
}

.center-card {
    margin-left: auto;
    margin-right: auto;
}

.btn-show-more {
    background-color: transparent;
    color: #007bff;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}