.add-new-movie {
    padding-top: 10px;
    margin-bottom: 0;
}

.form {
    max-width: 500px;
    margin: 0 auto;
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 20px;
}

/* Stil für die Überschrift */
h2 {
    text-align: center;
    color: #333;
}

/* Stil für Label und Input-Felder */
label {
    display: block;
    margin-bottom: 3px;
    color: #000000;
}

.gen {
    color: #000000;
}

input[type="text"],
input[type="url"],
input[type="date"] {
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #DDDDDDFF;
    border-radius: 4px;
    color: #000000;
}

/* Radio-Button-Container */
div.radio-container {
    margin-bottom: 20px;
}

/* Stil für Radio-Buttons und deren Labels */
input[type="radio"] {
    margin-right: 5px;
}

/* Stil für den Submit-Button */
.button-add {
    width: 100%;
    padding: 6px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.button-add:hover {
    background-color: #0056b3;
}
