.card-Header {
    text-align: center;
    color: #ffffff;
    background-color: #212529;
}

.footer {
    background-color: #212529;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
}