@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

/*html, body {*/
/*    height: 100%;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    color: white;
}

/*@media screen and (min-width: 1025px) {*/
/*    .movie-poster {*/
/*        height: 300px;*/
/*    }*/

/*    .movie-detail {*/
/*        flex-direction: row;*/
/*        align-items: center;*/
/*        top: 30px;*/
/*    }*/
/*    !*.movie-poster {*!*/
/*    !*    height: 300px;*!*/
/*    !*    border: 1px solid gold;*!*/
/*    !*    border-radius: 10px;*!*/
/*    !*    overflow: hidden;*!*/
/*    !*}*!*/
/*}*/



